<Body:>
  <div class="row">
    <form class="span3" x-bind="submit: list.add">
      <h3>Add item</h3>
      <fieldset>
        <label>Name</label>
        <input type="text" value={_page.newItem.name}>
        <div>
          <button type="submit" class="btn">Add</button>
        </div>
      </fieldset>
    </form>
    <div class="span8 offset1">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
          </tr>
        </thead>
        <tbody>
          {#each _page.items as :item}
            <tr>
              <td>{{:item.name}}</td>
              <td><button class="btn" x-bind="click: list.remove">Remove</button></td>
              <td><button class="btn" x-bind="click: list.up">Up</button></td>
              <td><button class="btn" x-bind="click: list.down">Down</button></td>
            </tr>
          {/}
        </tbody>
      </table>
    </div>
  </div>
